@import "constants";

@mixin neumorphic($x, $y, $blur) {
  box-shadow:
    #{$x}px #{$y}px #{$blur}px $neumorphic-lower-shadow,
    #{-$x}px #{-$y}px #{$blur}px $neumorphic-upper-shadow;
}

@mixin neumorphic_inset($x, $y, $blur) {
  box-shadow:
    inset #{$x}px #{$y}px #{$blur}px $neumorphic-lower-shadow,
    inset #{-$x}px #{-$y}px #{$blur}px $neumorphic-upper-shadow;
}

.neu-up {
  @include neumorphic(6, 6, 8);
  border-radius: 8px;
}

.neu-down {
  @include neumorphic_inset(6, 6, 8);
  border-radius: 8px;
}

button {
  @include neumorphic(6, 6, 8);
  border: 1px dashed $border-color;
  border-radius: 8px;
  padding: 6px 12px;

  &:disabled {
    box-shadow: none;
  }

  &:active:not(:disabled) {
    @include neumorphic_inset(6, 6, 8);
  }

  &.fab {
    border-radius: 50%;
    padding: 12px;
  }
}
